# native executable conversion
PyInstaller==4.0

# testing
pytest==6.0.1

# code quality
pylint==2.6.0
pycodestyle==2.6.0
# autopep8
# flake8
# yapf
# black

# TODO: check these
# py-bakwards
# strip-hints
