# native executable conversion
PyInstaller==3.6

# testing
pytest==6.0.0

# code quality
pylint==2.5.3
pycodestyle==2.6.0
# autopep8
# flake8
# yapf
# black

# TODO: check these
# py-bakwards
# strip-hints
